

  <SPAN STYLE="TEXT-ALIGN: center">
    <SPAN STYLE="FONT-SIZE: 21PX">
      <SPAN 
            STYLE="COLOR: blue"><STRONG><p>NHÀ KÍNH NÔNG NGHIỆP</p></STRONG>
      </SPAN>
    </SPAN>
  </SPAN>
  
  
  
  <SPAN STYLE="TEXT-ALIGN: center">
    <SPAN STYLE="FONT-SIZE: 18PX">
      <SPAN 
            STYLE="COLOR: brown"><STRONG><p>Post by: Nguyễn Thanh Hải</p></STRONG>
      </SPAN>
    </SPAN>
  </SPAN>
  <SPAN STYLE="TEXT-ALIGN: center">
    <SPAN STYLE="FONT-SIZE: 18PX">
      <SPAN 
            STYLE="COLOR: brown"><STRONG><p>Email: nguyenthanhhai000@gmail.com</p></STRONG>
      </SPAN>
    </SPAN>
  </SPAN>
  <SPAN STYLE="TEXT-ALIGN: center">
    <SPAN STYLE="FONT-SIZE: 18PX">
      <SPAN 
            STYLE="COLOR: brown"><STRONG><p>Handphone: 01632 225 729</p></STRONG>
      </SPAN>
    </SPAN>
  </SPAN>
  <SPAN STYLE="TEXT-ALIGN: center">
    <SPAN STYLE="FONT-SIZE: 18PX">
      <SPAN 
            STYLE="COLOR: brown"><STRONG><p>Add: 183/14 Quốc Lộ 1K, Phường Linh Xuân, Quận Thủ Đức, Tp.HCM</p></STRONG>
      </SPAN>
    </SPAN>
  </SPAN>
  

