
<SPAN STYLE="TEXT-ALIGN: CENTER">
  <SPAN STYLE="FONT-SIZE: 35PX">
    <SPAN 
          STYLE="COLOR: red"><STRONG><p> ĐỒ ÁN TỐT NGHIỆP</p></STRONG>
    </SPAN>
  </SPAN>
</SPAN>

<SPAN STYLE="TEXT-ALIGN: CENTER">
  <SPAN STYLE="FONT-SIZE: 28PX">
    <SPAN 
          STYLE="COLOR: GREEN"><STRONG><p>ĐỀ TÀI: ĐIỀU KHIỂN VÀ GIÁM SÁT NHÀ KÍNH QUA INTERNET.</p></STRONG>
    </SPAN>
  </SPAN>
</SPAN>


<SPAN STYLE="TEXT-ALIGN: left">
  <SPAN STYLE="FONT-SIZE: 21PX">
    <SPAN 
          STYLE="COLOR: blue"><STRONG><p> GIẢNG VIÊN HƯỚNG DẪN:.</p></STRONG>
    </SPAN>
  </SPAN>
</SPAN>



<SPAN STYLE="TEXT-ALIGN: left">
  <SPAN STYLE="FONT-SIZE: 18PX">
    <SPAN 
          STYLE="COLOR: black"><STRONG><p> - TS. Ngô Văn Thuyên <br> - Chủ tịch Hội đồng Trường Đại học Sư phạm Kỹ thuật Tp.HCM <br> - Địa chỉ: 01 Võ Văn Ngân, Phường Linh Chiểu, Quận Thủ Đức, Tp.HCM</p></STRONG>
    </SPAN>
  </SPAN>
</SPAN>


</SPAN>
<SPAN STYLE="TEXT-ALIGN: left">
  <SPAN STYLE="FONT-SIZE: 21PX">
    <SPAN 
          STYLE="COLOR: blue"><STRONG><p> NHÓM SINH VIÊN THỰC HIỆN:.</p></STRONG>
    </SPAN>
  </SPAN>
</SPAN>

<SPAN STYLE="TEXT-ALIGN: left">
  <SPAN STYLE="FONT-SIZE: 18PX">
    <SPAN 
          STYLE="COLOR: black"><STRONG><p> - SVTH 1: Nguyễn Thanh Hải <br> - MSSV 1: 13141080 <br> - SVTH 2: Nguyễn Xuân Đồng <br> - MSSV 2: 13141062 </p></STRONG>
    </SPAN>
  </SPAN>
</SPAN>
